@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Madera-Bold";
    src: url("../public/assets/Madera-Bold.ttf");
}
@font-face {
    font-family: "Madera-Extra";
    src: url("../public/assets/Madera-Medium.ttf");
}